.wallet-container {
  width: 97vw;
  height: 60vh;
  /* border: 2px solid blue; */
  margin: auto;
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  /* justify-content: left; */
  /* margin-top: 30px; */
  /* gap: 8px; */
}
.wallet-container-main {
  width: 55%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* margin-left: 20px; */
  /* align-items: center; */
}
.wallet-container-main-h1 {
  width: 70%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  font-size: 38px;
  font-family: sans-serif;
  margin: 0px 0px 10px 0px;
  /* justify-content: center; */
}

.wallet-container-main-h1-s1 {
  background: -webkit-linear-gradient(cyan, rgb(147, 147, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
}
.wallet-container-main-p1 {
  width: 70%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  font-family: sans-serif;
  /* font-weight: 550; */
  margin: 0px 0px 20px 0px;
}

/* {div1 .............................................} */
.wallet-container-main-div1 {
  width: 90%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.wallet-container-main-div1-p1 {
  font-size: 18px;
}
.wallet-container-main-div1-p1-s1 {
  font-size: 18px;
  font-weight: 600;
}
.wallet-container-main-div1-icon {
  color: greenyellow;
}
/* {div 2.............................................} */

.wallet-container-main-div2 {
  width: 90%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.wallet-container-main-div2-p1 {
  font-size: 18px;
}
.wallet-container-main-div2-p1-s1 {
  font-size: 18px;
  font-weight: 600;
}
.wallet-container-main-div2-icon {
  color: greenyellow;
}

/* div3...................................................... */

.wallet-container-main-div3 {
  width: 90%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.wallet-container-main-div3-p1 {
  font-size: 18px;
}
.wallet-container-main-div3-p1-s1 {
  font-size: 18px;
  font-weight: 600;
}
.wallet-container-main-div3-icon {
  color: greenyellow;
}
/* div4...................................................... */

.wallet-container-main-div4 {
  width: 90%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.wallet-container-main-div4-p1 {
  font-size: 18px;
}
.wallet-container-main-div4-p1-s1 {
  font-size: 18px;
  font-weight: 600;
}
.wallet-container-main-div4-icon {
  color: greenyellow;
}
/* { div4 button.............................} */

.wallet-container-main-div5 {
  width: 40%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-top: 20px;
}
.wallet-container-main-div5-btn {
  width: 120px;
  height: 40px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: aliceblue;

  background-image: linear-gradient(cyan, rgb(147, 147, 184));
  border-radius: 4px;
  border: 1px solid cyan;
  margin-left: 30px;
}
/* {main box2 .......................................} */
.wallet-container-main2{
    width: 40%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallet-container-main2-box1{

    width: 80%;
    height: 70%;
    /* border: 1px solid rgb(0, 255, 26); */
    display: flex;
    align-items: center;
    justify-content: center;

}
.wallet-container-main2-box1-img{
    width: 100%;
    height: 100%;
    border-radius:18px ;
}

@media screen and (max-width:1024px){

  .wallet-container-main {
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
  }
  .wallet-container-main2 {
    width: 40%;
    height: 100%;
    /* border: 1px solid blue; */
  }
  .wallet-container-main-p1 {
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
  }
  .wallet-container-main-div1 {
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
  }
  .wallet-container-main-div2 {
    width: 100%;
  }
  .wallet-container-main-div3 {
    width: 100%;
  }
  .wallet-container-main-div4 {
    width: 100%;
  }
  .wallet-container-main-div5 {
    width: 100%;
  }

}

@media screen and (max-width:768px){

  .wallet-container {
    width: 97vw;
    height: 100vh;
    /* border: 2px solid blue; */
    margin: auto;
    flex-direction: column;
  }
  .wallet-container-main {
    width: 100%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
}
.wallet-container-main2 {
  width: 66%;
  height: 60%;
  /* border: 1px solid blue; */
}
.wallet-container-main2-box1 {
  width: 80%;
  height: 70%;
  /* border: 1px solid rgb(0, 255, 26); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -109px;
}

  .wallet-container-main-div5-btn {
    width: 120px;
    height: 40px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: aliceblue;
    background-image: linear-gradient(cyan, rgb(147, 147, 184));
    border-radius: 4px;
    border: 1px solid cyan;
    margin-left: 30px;
    margin-top: 639px;
}

}

@media screen and (max-width:426px){


  .wallet-container {
    width: 97vw;
    height: 100vh;
    /* border: 2px solid blue; */
    margin: auto;
    flex-direction: column;
  }
  .wallet-container-main {
    width: 100%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
}
.wallet-container-main2 {
  width: 99%;
  height: 60%;
  /* border: 1px solid blue; */
}
.wallet-container-main2-box1 {
  width: 80%;
  height: 70%;
  /* border: 1px solid rgb(0, 255, 26); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -109px;
}

.wallet-container-main-h1 {
  width: 70%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  font-size: 35px;
  font-family: sans-serif;
  margin: 0px 0px 11px 0px;
  /* justify-content: center; */
}
.wallet-container-main-p1 {
  width: 100%;
  height: 40px;
  font-size: 14px;
  /* border: 1px solid red; */
}

.wallet-container-main-div1 {
  width: 100%;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0px 0px 0px 0px;
}
.wallet-container-main-div1-p1-s1 {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.wallet-container-main-div2-p1-s1 {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.wallet-container-main-div3-p1-s1 {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.wallet-container-main-div4-p1-s1 {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.wallet-container-main-div5-p1-s1 {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.wallet-container-main-div1-p1 {
  font-size: 14px;
}
.wallet-container-main-div2-p1 {
  font-size: 14px;
}
.wallet-container-main-div3-p1 {
  font-size: 14px;
}
.wallet-container-main-div4-p1 {
  font-size: 14px;
}
.wallet-container-main-div5-p1 {
  font-size: 14px;
}


  .wallet-container-main-div5-btn {
    width: 120px;
    height: 40px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: aliceblue;
    background-image: linear-gradient(cyan, rgb(147, 147, 184));
    border-radius: 4px;
    border: 1px solid cyan;
    margin-left: 51px;
    margin-top: 577px;
}

}