.homepage-container{
    width:98vw;
    height: auto;
    /* border: px solid blue; */
    margin: auto;
    padding-bottom: 40px;
    /* background-color: rgb(190, 220, 227); */
    /* background-color: rgb(93, 133, 140); */
    /* background-color: rgb(206, 215, 212); */

    /* rgb(93, 133, 140) */
    /* rgb(190, 220, 227); */
    /* rgb(150, 226, 238); */

}